{% extends "tease.twig" %}

{% block content %}
    <div class="col-xl-4 col-lg-12 col-sm-4 img">
        {% if post.thumbnail.src %}
            <img src="{{ post.thumbnail.src('thumbnail')|tojpg }}"
                 alt="{{ post.thumbnail.alt }}"
                 title="{{ post.thumbnail.title }}"
            />
        {% else %}
            <img src="{{ soup.image_url }}/placeholder-square.jpg"/>
        {% endif %}
    </div>
    <div class="col-xl-8 col-lg-12 col-sm-8">
        <h4 class="h2">
            <span class="align-left">{{post.title}}</span>
        </h4>
        <p class="align-left">{{ post.get_preview(30) }}
        <span class="align-right">
                {{ post.status=='draft'? 'draft': post.date|time_ago }}
        </span></p>
        <span class="clear"></span>
    </div>
{% endblock %}