<div class="nav-tab-row  nav-tab-wrapper row">
    <div class="col-sm-8">
        <h2 class="">
            <a href="?page=vacation-soup-admin&tab=create" class="nav-tab{{ (tab=='create') ? ' nav-tab-active' }}">Create</a>
            <a href="?page=vacation-soup-admin&tab=dash" class="nav-tab{{ (tab=='dash') ? ' nav-tab-active' }}">Dash</a>
            <a href="?page=vacation-soup-admin&tab=owner" class="nav-tab{{ (tab=='owner') ? ' nav-tab-active' }}">Owner</a>
            <a href="?page=vacation-soup-admin&tab=property" class="nav-tab{{ (tab=='property') ? ' nav-tab-active' }}">Property</a>
            <a href="?page=vacation-soup-admin&tab=connect" class="nav-tab{{ (tab=='connect') ? ' nav-tab-active' }}">Connect</a>
        </h2>
    </div>
    <div class="soup-logo col-sm-4">
        <a href="https://vacationsoup.com">
            <img src="{{ soup.image_url }}/vacation soup logo 300 long.png"
                 title="Vacation Soup"
                 alt="Vacation Soup Holiday Rental Marketing">
        </a>
    </div>
</div>
