{% extends 'admin/vacation-soup.twig' %}
{% block content %}
    {% embed 'admin/form.twig' %}
        {% block form_name %}dash{% endblock form_name %}
        {% block form_content %}
            <script>
                String.prototype.ToCamelCase = function() { // like toCamelCase but capitalises first char
                    // remove all characters that should not be in a variable name
                    // as well underscores an numbers from the beginning of the string
                    var s = this.replace(/([^a-zA-Z0-9_\- ])|^[_0-9]+/g, "").trim().toLowerCase();
                    // uppercase letters preceeded by a hyphen or a space
                    s = s.replace(/([ -]+|^)([a-zA-Z0-9])/g, function(a,b,c) {
                        return c.toUpperCase();
                    });
                    // uppercase letters following numbers
                    s = s.replace(/([0-9]+)([a-zA-Z])/g, function(a,b,c) {
                        return b + c.toUpperCase();
                    });
                    return s;
                }
                String.prototype.punctToSpace = function () {
                    return this.replace(/[^A-Za-z0-9_]/g," ");
                }
                var handleChange = function(id){
                    var title;
                    var destVal = jQuery("#destination-"+id).val();
                    var joinVal = jQuery("#join-"+id).val();
                    var titleVal = title = jQuery("#title-"+id).val();
                    if (!title){
                        title = "New Property";
                    }
                    if (joinVal && destVal){
                        title+=" "+joinVal+" "+destVal;
                    }
                    jQuery("#title-header-"+id).html("<h1>"+title+"</h1>");

                    var target = jQuery("#examples-"+id);
                    target.html('');
                    destVal = destVal.punctToSpace().ToCamelCase();
                    joinVal = joinVal.punctToSpace().ToCamelCase();
                    titleVal = titleVal.punctToSpace().ToCamelCase();
                    if (destVal && joinVal && titleVal){
                        target.html(
                            "The following tags will be added to all posts:<br/>"+
                            "#VacationSoup #"+destVal+" #Holiday"+joinVal+destVal+" #Vacation"+joinVal+destVal
                        );
                    } else {
                        target.html("Please enter Title and Destination to see example tags.")
                    }
                }
                jQuery(function(){
                    var changeSet = jQuery(".handleChange");
                    // Add the handler
                    changeSet.change(function(){
                        handleChange(jQuery(this).data('id'));
                    });
                    // And fire it on page load
                    changeSet.each(function(){
                        handleChange(jQuery(this).data('id'));
                    })
                });

            </script>
            <div class="vs-content tab-property row">
                {% for property in properties %}
                    <div class="col-lg-8 col-sm-12">
                        <div class="vs-panel row field-container">
                            <div id="title-header-{{ property.id }}" class="col-sm-12">
                                <h1>{{ property.title? property.title: 'New Property' }}</h1>
                            </div>
                            <div class="col-sm-6">
                                <div class="field">
                                    <label for="title-{{ property.id }}">
                                        Title
                                    </label>
                                    <input type="text"
                                           data-id="{{ property.id }}"
                                           class="persist handleChange"
                                           placeholder="Property Title"
                                           name="Property[{{ property.id }}].title"
                                           id="title-{{ property.id }}"
                                           required value="{{ property.title }}"/>
                                </div>
                                <div class="field">
                                    <label for="destination-{{ property.id }}">
                                        Destination
                                    </label>
                                    <input type="text"
                                           data-id="{{ property.id }}"
                                           class="persist handleChange join-word"
                                           title="Joining word"
                                           name="Property[{{ property.id }}].join"
                                           id="join-{{ property.id }}"
                                           required value="{{ property.join }}"/>
                                    <input type="text"
                                           data-id="{{ property.id }}"
                                           class="persist handleChange"
                                           placeholder="Destination Name"
                                           name="Property[{{ property.id }}].destination"
                                           id="destination-{{ property.id }}"
                                           required value="{{ property.destination }}"/>
                                </div>
                            </div>
                            <div id="examples-{{ property.id }}" class="col-sm-6">

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock form_content %}
    {% endembed %}
{% endblock content %}
