{% extends "tease.twig" %}

{% block content %}
    <div class="col-xl-4 col-lg-12 col-sm-4 img">
        {% if post.thumbnail.src %}
            <img src="{{ post.thumbnail.src('thumbnail') }}"
                 alt="{{ post.thumbnail.alt }}"
                 title="{{ post.thumbnail.title }}"
            />
        {% else %}
            <img src="{{ soup.image_url }}/placeholder-square.jpg"/>
        {% endif %}
        <div class="deface-container">

            <div id="edit_recent" class="deface left" wasonclick='autosaveRedirect = "?page=vacation-soup-admin-create&p={{ post.ID }}";doAutosave(this);' title="Edit">
                <a href="?page=vacation-soup-admin-create&p={{ post.ID }}"><i class="dismiss fa fa-edit"></i></a>
            </div>
            <div class="deface centre">
                {% set kitchen_url = fn('get_post_meta',post.ID,'kitchen_url',1) %}
                {% set conceal = fn('get_post_meta',post.ID,'conceal',1) %}
                {% if conceal %}
                    <a href="#" title="Concealed from Soup" id="conceal">
                        <i class="fa fa-ban error"></i>
                    </a>
                {% elseif kitchen_url %}
                    <a href="{{ kitchen_url }}" target="_blank" title="View in Soup [new tab]" id="preview_remote"><i class="dismiss fa fa-eye"></i></a>
                {% endif %}
            </div>
            <div class="deface right">
                <a href="{{ fn('get_home_url') }}/?p={{ post.ID }}&preview=true" target="_blank" title="View locally [new tab]" id="preview_local">
                    <i class="dismiss fa fa-eye"></i>
                </a>
            </div>

        </div>
    </div>
    <div class="col-xl-8 col-lg-12 col-sm-8">
        <h4 class="h2">
            <span class="align-left recent_post_title">{{post.title}}</span>
        </h4>
        <p class="align-left">{{ post.get_preview(20,true,'') }}
        <span class="align-right">
                {{ post.status=='draft'? 'draft': post.post_date_gmt|time_ago }}
        </span></p>

        <span class="clear"></span>
    </div>
{% endblock %}