<div class="field">
    <p>
        We have not yet implemented auto-posting to {{ soc.display_name }}.
        If you would like to connect to {{ soc.display_name }}, please vote for it by ticking the checkbox, and we will move it up the list.
    </p>
    <label for="vote_{{ key|lower }}">Vote for {{ soc.display_name }}</label>
    <input type="checkbox" id="vote_{{ key|lower }}" class="persist" name="{{ key }}.vote" {{ (soc.vote)?'checked':'' }}/>
</div>
